@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #012443;
    color: #FDD2BF;
    font-family: "Roboto Mono", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: 100vh;
    margin: 0;    
}
.counter-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 30px 50px;
    white-space: nowrap
}
.counter {
    font-size: 60px;
    margin-top: 10px;
}
 @media (max-width: 720px) {
     body {
         flex-direction: column;
         overflow: visible;
         height: auto;
     }
}