@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: "Muli", sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #628395;
    overflow: hidden;
    margin: 0;
}

.container {
    background-color: #262A53;
    padding: 20px 40px;
    border-radius: 5px;
}

.container h1 {
    text-align: center;
    margin-bottom: 40px;;
}

.container a {
    text-decoration: none;
    color: #FFA0A0;
}

.btn {
    width: 100%;
    padding: 15px;
    font-family: inherit;
    background-color: #FFA0A0;
    font-size: 16px;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
}
.btn:active {
    transform: scale(0.98);
}
.text {
    margin-top: 30px;
}
.form-control {
    position: relative;
    margin: 20px 0px 40px;
    width: 300px;
}
.form-control input {
    background-color: transparent;
    border: 0;
    border-bottom: 2px solid white;
    width: 100%;
    font-size: 18px;
    padding: 15px 0;
    color: white;
    display: block;    
}
.form-control input:focus, .form-control input:valid {
    outline: 0;
    border-bottom-color: #FFE3E3;
}
.form-control label {
    font-size: 18px;
    position: absolute;
    top: 15px;
    pointer-events: none;
    left: 0;
}
.form-control label span {
    transition: 0.3s cubic-bezier(0.68, 0.55, 0.265, 1.55);
    display: inline-block;

}
.form-control input:focus + label span, 
.form-control input:valid + label span {
    transform: translateY(-30px);
}


